@import url('https://fonts.googleapis.com/css?family=Lato|News+Gothic|Inconsolata|Droid+Sans|Raleway|Leckerli+One');

body {
  text-align: center;
  background: rgba(255, 255, 255, .5);
  font-family: Raleway, sans-serif;
  width: 100%;
  margin: auto;
  font-size: 23px;
}

body::after {
  content: "";
  background: url("paper.png");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h1, h2 {
  font-size: 2.8em;
  font-family: 'Leckerli One';
  color: #F38630;
  padding-top: 100px; 
}

a:link {color: #FA6900}
a:visited {color: #F38630}

.tasks {
  font-weight: bold;
}

.main-nav {
  background: rgba(181, 218, 219, .5);
  color: #FA6900;
  position: fixed;
  top: 0;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  height: 50px;
  width: 100%;
  text-align:center;
  font-size: 1.1em;
}

footer {
  font-size: 18px;
  background: rgba(181, 218, 219, .5);
  color: #FA6900;
  position: fixed;
  bottom: 0;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  width: 100%;
}