<h1>People List</h1>
<table>
	<th>Name</th><th># Complete Tasks</th><th colspan="2">Update!</th>
	<% @people.each do |person| %> 
		<tr>
			<td>
				<%= link_to "#{person.name}", "/people/#{person.id}" %>
			</td>
			<td>
				<% complete_count = 0 %> 
				<% person.tasks.each do |task| %>
					<% if !task.complete_date.nil? %> 
						<% complete_count += 1 %> 
					<% end %> 
				<% end %> 
				<%= complete_count %>
			</td>

			<td class="update"><%= button_to "Edit", "/people/#{person.id}/edit", method: "get" %></td></th>
	    <td class="update"><%= button_to "Delete", "/people/#{person.id}", method: "delete", data: { :confirm => "Are you sureeeeeeeee you want to delete this person?" } %></td>
			
		</tr>
	<% end %> 
</table>