<h2>Task: <%= @task.name %></h2>
<h3>Description: <%= @task.description %></h3>
<p>
<% if !@task.complete_date.nil? %>
	Completed on: <%= @task.complete_date %>
<% else %>
	Not yet completed.
<% end %>
</p>

<%= button_to "Edit", "/tasks/update/#{@task.id}", method: "get", id: "special-button" %>