<h2>Task: <%= @task.name %></h2>
<h3>Description: <%= @task.description %></h3>
<p>
<% if !@task.complete_date.nil? %>
	Completed on: <%= @task.complete_date %>
<% else %>
	Not yet completed.
<% end %>
</p>

<form class="button_to" method="get" action="/tasks/update/7"><input id="special-button" type="submit" value="Edit"></form>

